<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <script type="text/javascript" src="http://www.qq.com/404/search_children.js" charset="utf-8"></script>
  </body>
</html>