<%- include header %>
<ul style="list-style:none">
<li><h3><a href="https://love.alipay.com/donate/donateSingle.htm?">支付宝公益网</a></h3>天佑四川</li>
<li><h3><a href="http://www.baidu.com">壹基金</a></h3>壹基金救援，刻不容缓！</li>
</ul>
<%- include footer %>